.categories_section {
  display: flex;
  flex-direction: column;
  width: 11em;
}
.categories_section > button {
  margin: 0.5em;
  width: 8em;
  border: solid black 0.1em;
  border-radius: 0.2em;
}
.products_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.products_section > h1 {
  margin: 0.5em;
}
.search_menu {
  display: flex;
  flex-direction: row;
}
